body {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-size: 90px;
    color: #5B4530;
    overflow-x: hidden;
}

h1, h2 {
    font-family: "Great Vibes", cursive;
}

hr {
    border: 1px solid #5B4530;
}

input {
    border: none;
}

.animate {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1.2s ease;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

.header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #fff;
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../resources/sunset.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    animation: zoomOut 3s ease-out forwards;
}

@keyframes zoomOut {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

.header__title {
    position: absolute;
    bottom: 200px;
    left: 120px;
    text-align: center;
    font-size: 120px;
}

.header__title span {
    display: block;
    margin-top: 40px;
}

.header__title span:nth-child(2) {
    margin: 20px;
}

.header__description {
    position: absolute;
    right: 70px;
    bottom: 70px;
    font-family: "Great Vibes", cursive;
}

.family {
    color: #5B4530;
}

.family__wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.family__image {
    width: 700px;
}

.family__text {
    text-align: center;
    width: 600px;
}

.family__text h2{
    font-size: 80px;
}

.family__text p{
    margin-top: 30px;
    font-size: 20px;
}

.family__divider-top,
.family__divider-bottom {
    display: none;
}

.childhood {
    margin-bottom: 100px;
}

.childhood__title {
    margin: 100px 0;
    text-align: center;
}

.childhood__image {
    display: block;
    margin: 40px auto;
    width: 70%;
}

.divider {
    position: relative;
    width: 450px; 
    height: 1px;
    background-color: #5B4530;
    margin: 40px auto;
}

.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: white;
    border: 1px solid #5B4530;
    transform: translate(-50%, -50%) rotate(45deg);
}

.texture__bg {
    width: 100%;
    padding: 80px 0;
    background-image: url('../resources/texture-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__title {
    margin-right: 8%;
    width: 600px;
    font-size: 84px;
}

.calendar__image {
    width: 500px;
}

.location {
    padding: 80px 0;
}

.location__title {
    margin-bottom: 50px;
    text-align: center;
}

.location__image {
    display: block;
    margin: 40px auto;
    width: 80%;
}

.location__description {
    display: block;
    margin: 0 auto;
    width: 1040px;
    text-align: center;
    font-size: 30px;
}

.location__description__bold {
    font-weight: 600;
    margin-bottom: 20px;
}

.adress {
    font-family: "Albert Sans", sans-serif;
}

.timing__title {
    margin-bottom: 90px;
    text-align: center;
    font-size: 84px;
}

.timing {
    display: flex;
    margin: 0 150px 15px 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 200px;
}

.timing__image {
    width: 150px;
}

.timing__description {
    width: 550px;
    text-align: center;
    font-size: 30px;
}

.timing__description-paragraf {
    margin-top: 15px;
    font-size: 22px;
}

.timing__description__font-family {
    font-family: "Albert Sans", sans-serif;
}

.timing__line {
    border: 1px solid #5B4530;
}

.cloth {
    padding: 80px 0;
}

.cloth__title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 90px;
}

.cloth__description__wrapper {
    margin: 0 auto;
    width: 500px;
    font-size: 20px;
    text-align: center;
}

.cloth__description__wrapper p span {
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
}

.cloth__description__wrapper p span:nth-last-child(1) {
    margin-top: 30px;
}

.countdown__title {
    margin-bottom: 70px;
    text-align: center;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.time-box {
    padding: 20px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    background-color: #5B4530;
    color: #fff;
    border-radius: 25px;
}

.time-box p span {
    display: block;
    margin-bottom: 10px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 600;
}

.wishes {
    margin-bottom: 80px;
    text-align: center;
}

.wishes__title {
    margin: 70px 0;
}

.wishes-slider {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.wishes-wrapper {
    overflow: hidden;
    width: 100%;
}

.wishes-track {
    display: flex;
    transition: transform 1s ease-in-out;
}

.wish {
    min-width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.wishes-btn {
    background: #fff;
    color: #5B4530;
    border: none;
    font-size: 22px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50%;
}

.wishes-dots {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: "Albert Sans", sans-serif;
    gap: 15px;
}

.wishes-dots span {
    cursor: pointer;
    font-size: 18px;
    opacity: 0.4;
    transition: 0.3s;
}

.wishes-dots span.active {
    opacity: 1;
    font-weight: 600;
    transform: scale(1.2);
}

.organizer__title {
    text-align: center;
    margin-bottom: 60px;
}

.organizer__wrapper {
    margin: 0 auto;
    padding: 40px 30px 20px;
    width: 25%;
    text-align: center;
    border: 2px solid #5B4530;
    border-radius: 50px;
    font-size: 20px;
}

.organizer__wrapper-name {
    margin: 10px 0 40px;
    font-weight: 600;
}

.organizer__wrapper-phone {
    margin-bottom: 20px;
    font-family: "Albert Sans", sans-serif;
}

.organizer__wrapper-btn {
    margin: 0 auto;
    padding: 10px;
    display: block;
    width: 40%;
    border: 2px solid #5B4530;
    border-radius: 17px;
    text-decoration: none;
    background-color: #5B4530;
    color: #fff;
    text-align: center;
}

.questionnaire__title {
    margin-top: 70px;
    text-align: center;
}

.form {
    margin: 80px auto;
    padding: 40px 40px 0;
    max-width: 70%;
    border: 2px solid #5B4530;
    border-radius: 50px;
    font-size: 20px;
}

.form__wrapper {
    display: flex;
    gap: 90px;
}

.form p {
    margin-bottom: 20px;
    font-weight: 600;
}

.form__wrapper-guest > div > p:last-of-type {
    margin-top: 30px;
}

.form__wrapper-food > p:last-of-type {
    margin-top: 30px;
}

.attendance {
    display: flex;
    flex-direction: column;
}

.form input[type="text"] {
    margin-bottom: 30px;
    padding-bottom: 4px;
    width: 100%;
    border-bottom: 1px solid #5B4530;
    color: #5B4530;
    font-size: 16px;
}

.form .attendance label {
    margin-bottom: 15px;
}

.form .attendance label:nth-last-child(1) {
    margin-bottom: 0;
}

.form input:focus {
    outline: none;
}

.alcohol__wrapper {
    display: flex;
    gap: 20px;
}

.alcohol__wrapper-easy {
    display: flex;
    flex-direction: column;
}

.alcohol__wrapper-hard {
    display: flex;
    flex-direction: column;
}

.form .alcohol__wrapper-easy label {
    margin-bottom: 15px;
}

.form .alcohol__wrapper-easy label:nth-last-child(1) {
    margin-bottom: 0;
}

.form .alcohol__wrapper-hard label:nth-last-child(1) {
    margin-bottom: 0;
}

.form .alcohol__wrapper-hard label {
    margin-bottom: 15px;
}

.food__wrapper {
    display: flex;
    flex-direction: column;
}

.food__wrapper-you {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.food__wrapper-companion {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.food__wrapper-description {
    font-size: 18px;
}

.custom-radio {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-radio .radiomark {
    width: 21px;
    height: 21px;
    background-color: #fff8f0;
    border: 2px solid #d6c6b8;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: border-color 0.3s, background 0.3s;
}

.custom-radio .radiomark::after {
    content: '';
    width: 13px;
    height: 13px;
    background-color: #5B4530;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    display: none;
}

.custom-radio input:checked + .radiomark {
    border-color: #5B4530;
    background-color: #fff8f0;
}

.custom-radio input:checked + .radiomark::after {
    display: block;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    background-color: #fff8f0;
    border: 2px solid #d6c6b8;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    transition: background 0.3s, border-color 0.3s;
}

.custom-checkbox .checkmark::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #5B4530; 
    border-color: #5B4530;
}

.custom-checkbox input:checked + .checkmark::after {
    display: block;
}

.custom-checkbox input:checked + .checkmark::after {
    display: block;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form button {
    margin: 30px 0;
    padding: 14px;
    width: 100%;
    border: none;
    cursor: pointer;
    border: 2px solid #5B4530;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 18px;
    color: #5B4530;
    background-color: #fff8f0;
}

.form button:hover {
    color: #fff;
    background-color: #5B4530;
}

.footer {
    padding: 100px 100px 50px;
    background-image: url('../resources/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Great Vibes", cursive;
    letter-spacing: 0.1em;
    color: #fff;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer__wrapper p {
    margin-bottom: 40px;
}

.footer__wrapper p:nth-last-child(1) {
    margin-bottom: 0;
}

.footer__description-right {
  align-self: flex-end;
}


@media (max-width: 768px) {

    input, label, button {
        -webkit-tap-highlight-color: transparent;
    }

    body {
        font-size: 16px;
    }

    .header {
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-image: url('../resources/sunset_mob.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .header__photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__title,
    .header__description {
        position: static;
    }

    .header__title {
        margin-bottom: 50px;
        font-size: 80px;
    }

    .header__description {
        font-size: 28px;
    }

    .family {
        height: 100%;
    }

    .family__wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .family__image {
        order: 2;
        width: 100%;
        max-width: 350px;
    }

    .family__divider-top_desk,
    .family__divider-bottom_desk {
        display: none;
    }

    .family__divider-top,
    .family__divider-bottom {
        display: block;
    }

    .divider {
        position: relative;
        width: 300px; 
        height: 1px;
        background-color: #5B4530;
        margin: 40px auto;
    }

    .divider::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        background-color: white;
        border: 1px solid #5B4530;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .family__text {
        width: 90%;
    }

    .family__text h2 {
        order: 1;
        font-size: 36px;
    }

    .family__text p {
        font-size: 16px;
    }

    hr {
        display: none;
    }

    .childhood {
        margin-bottom: 40px;
        height: 100vh; 
    }

    .childhood__title {
        font-size: 32px;
        margin: 50px 0 20px;
    }

    .childhood__image {
        margin: auto;
        width: 80%;
    }

    .texture__bg {
        padding: 40px 0;
    }

    .calendar {
        display: flex;
        flex-direction: column;       
    }

    .calendar__title {
        text-align: center;
        font-size: 28px;
        margin: 0 0 40px;
        width: 100%;
    }

    .calendar__image {
        width: 60%;
    }

    .location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 40px 0 20px;
    }

    .location__title {
        margin-bottom: 20px;
        font-size: 32px;
    }

    .location__image {
        margin-top: 20px;
        width: 90%;
    }

    .location__description {
        width: 90%;
        font-size: 16px;
    }

    .location__description__bold {
        font-size: 15px;
    }

    .timing__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
        padding: 20px;
    }

    .timings {
        flex-direction: column;
    }

    .timing {
        margin: 0 0 30px;
        gap: 20px;
        height: 40%;
    }

    .timing__title {
        margin: 30px 0 50px;
        font-size: 40px;
    }

    .timing__image {
        width: 60px;
    }

    .timing__description {
        width: 60%;
        font-size: 18px;
    }

    .timing__description-paragraf {
        margin-top: 15px;
        font-size: 10px;
    }

    .timing__line {
        display: block;
    }

    .cloth {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cloth__title {
        height: 10%;
        margin: 0;
        font-size: 46px;
    }

    .cloth__description__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70%;
        font-size: 14px;
    }

    .cloth__description__wrapper img {
        margin: 0 auto;
        height: 50px;
    }

    .countdown {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .countdown__title {
        margin-bottom: 30px;
        font-size: 36px;
    }

    .time-box {
        padding: 11px;
        text-align: center;
        width: 22%;
        font-size: 14px;
    }

    .wishes {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wishes__title {
        margin-bottom: 20px;
        font-size: 36px;
    }

    .wishes-slider {
        width: 90%;
        gap: 10px;
    }

    .wish {
        font-size: 16px;
    }

    .wishes-btn {
        font-size: 16px;
        padding: 8px 12px;
    }

    .organizer__title {
        margin-bottom: 30px;
        font-size: 36px;
    }

    .organizer__wrapper {
        padding: 30px 20px 10px;
        width: 70%;
        border: 1px solid #5B4530;
        border-radius: 40px;
        font-size: 16px;
    }

    .organizer__wrapper-name {
        margin: 10px 0 30px;
    }

    .organizer__wrapper-btn {
        padding: 6px;
        width: 40%;
        border: 1px solid #5B4530;
        -webkit-tap-highlight-color: transparent;
        font-size: 14px;
    }

    .questionnaire__line {
        display: block;
    }

    .questionnaire__title {
        margin-top: 30px;
        font-size: 36px;
    }

    .form {
        margin: 20px auto;
        max-width: 95%;
        padding: 20px;
        font-size: 16px;
        border: 1px solid #5B4530;
        border-radius: 20px;
    }

    .form__wrapper {
        flex-direction: column;
        gap: 10px;
    }

    .form input[type="text"], .form button {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    input[type="radio"]:focus {
        outline: none;
    }

    input[type="radio"] {
        -webkit-tap-highlight-color: transparent;
    }

    .form .attendance label {
        margin-bottom: 0;
    }

    .form .alcohol__wrapper-easy label {
        margin-bottom: 0;
    }

    .form .alcohol__wrapper-hard label {
        margin-bottom: 0;
    }

    .attendance, .alcohol__wrapper-easy, .alcohol__wrapper-hard, .food__wrapper-you, .food__wrapper-companion {
        flex-direction: column;
        gap: 10px;
    }

    .food__wrapper-you {
        margin-bottom: 20px;
    }

    .food__wrapper-description {
        font-size: 15px;
    }

    .form button{
        border: 1px solid #5B4530;
    }

    .footer {
        padding: 50px 20px;
        text-align: center;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }

    .footer__wrapper p {
        margin-bottom: 20px;
    }

    .footer__description-right {
        align-self: center;
    }
}


@media (max-width: 400px) {

    .timing .timing__description {
        width: 67%;
    }

    .alcohol__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .cloth__description__wrapper .divider {
        width: 100%;
    }

    .cloth__description__wrapper > div > img {
        height: 30px;
    }    

    .organizer__wrapper {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1150px) {
    
    .header__title {
        font-size: 80px;
    }

    .header__description {
        font-size: 60px;
    }

    .childhood__title {
        font-size: 60px;
    }

    .family__wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .family__image {
        order: 2;
        width: 100%;
        max-width: 350px;
    }

    .family__divider-top_desk,
    .family__divider-bottom_desk {
        display: none;
    }

    .family__divider-top,
    .family__divider-bottom {
        display: block;
    }

    .calendar {
        display: flex;
        flex-direction: column;       
    }

    .calendar__title {
        text-align: center;
        font-size: 70px;
        margin: 0 0 40px;
        width: 100%;
    }

    .calendar__image {
        width: 40%;
    }

    .location__description {
        width: 90%;
        font-size: 16px;
    }

    .timing {
        margin: 0 0 30px;
    }

    .organizer__wrapper {
        width: 40%;
    }

    .organizer__wrapper-btn {
        width: 50%;
    }

    .form {
        margin: 20px auto;
        max-width: 95%;
        padding: 20px;
        font-size: 16px;
        border-radius: 20px;
    }

    .form__wrapper {
        flex-direction: column;
        gap: 10px;
    }

    .form input[type="text"], .form button {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    input[type="radio"]:focus {
        outline: none;
    }

    input[type="radio"] {
        -webkit-tap-highlight-color: transparent;
    }

    .form .attendance label {
        margin-bottom: 0;
    }

    .form .alcohol__wrapper-easy label {
        margin-bottom: 0;
    }

    .form .alcohol__wrapper-hard label {
        margin-bottom: 0;
    }

    .attendance, .alcohol__wrapper-easy, .alcohol__wrapper-hard, .food__wrapper-you, .food__wrapper-companion {
        flex-direction: column;
        gap: 10px;
    }

    .footer {
        padding: 50px 20px;
        text-align: center;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 70px;
    }

    .footer__wrapper p {
        margin-bottom: 20px;
    }

    .footer__description-right {
        align-self: center;
    }
}

@media (min-width: 1150px) and (max-width: 1261px) {

    .organizer__wrapper {
        width: 40%;
    }

    .organizer__wrapper-btn {
        width: 50%;
    }

    .form__wrapper {
        justify-content: space-around;
    }
    
    .form {
        max-width: 90%;
    }

    .alcohol__wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1261px) and (max-width: 1622px) {
    
    .organizer__wrapper {
        width: 30%;
    }

    .organizer__wrapper-btn {
        width: 50%;
    }

    .form__wrapper {
        justify-content: space-around;
    }
    
    .form {
        max-width: 90%;
    }
}